* {
  border: 0;
  margin: 0;
  padding: 0;
  outline: none;

  font-family: monospace;

  font-size: 26px;
}

#root {
  max-width: 100vw;
  height: 100vh;

  background-color: rgb(88, 39, 39);

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto auto 1fr;
}

form {
  display: grid;
  grid-template-columns: 1fr;
  width: 60vw;

  align-self: center;
  justify-self: center;
}
input {
  background-color: grey !important;
}
